{#
  Displays all a user's npc kills.

  @TODO: Convert to a grid display.
#}
{% if kills %}
    {% for kill in kills %}

      <details class="js-form-wrapper form-wrapper">
        <summary role="button" aria-expanded="false" aria-pressed="false" class="details__summary">
          <img src="/assets/rsc_npcs/{{ kill.id }}.png"/>
          <span class="details">{{ kill.name }}({{ kill.id }}) (Kill Count: {{ kill.kill_count}})</span>
        </summary>
          <div class="details-wrapper">
            {% if kill.items %}
            <table>
              <th>Item ID</th>
              <th>Item</th>
              <th>Drop Amount</th>
              <th>Drop Quantity</th>
              {% for item in kill.items %}
                <tr>
                  <td><img src="/assets/rsc_items/{{ item.itemID }}.png"/></td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.dropAmount }}</td>
                  <td>{{ item.dropQuantity }}</td>
                </tr>
              {% endfor %}
            </table>
            {% else %}
              <strong>This NPC either drops no items, or you have not received any drops yet.</strong>
            {% endif %}
          </div>
      </details>
    {% endfor %}
{% endif %}
